<!doctype html>
<html lang="ar" dir="rtl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">

    <title>vehicle.co.in</title>
  </head>
<body>
<div class="container"></div>
  <h1>Vehicle Management system</h1>
<hr>

  <a class="btn btn-primary" href="/all_vehicle" role="button">View All Vehicles Details</a>

  <a class="btn btn-primary" href="/add_vehicle" role="button">Add An Vehicles</a>

  <a class="btn btn-primary" href="/remove_vehicle" role="button">Remove An Vehicles</a>

  <a class="btn btn-primary" href="/filter_vehicle" role="button">Filter An Vehicles</a>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
</body>

</html>